    <form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
        <div class="form-control">
            <label for="text">Task</label>
            <input type="text" name="text" [(ngModel)]="title" id="text" placeholder="" />
        </div>
        <div class="form-control">
            <label for="text">Description</label>
            <input type="text" name="text" [(ngModel)]="description" id="text" placeholder="" />
        </div>
        <div class="form-control form-control-check">
            <label for="text">Compulsory ?</label>
            <input type="checkbox" name="compulsory" [(ngModel)]="compulsory" id="compulsory" />
        </div>
        <input type="submit" value="Save Task" class="btn btn-block" />
    </form>